extends layout

block content
  
 br
 br
 br
 li Hello this is Ronak Patel's Book Store.
 li This page is basically show you an information about our Book Store.
 li This Book store contains the information about book like author name , that particular book type and many more will be implemented very soon.
