extends layout

block content
  //- br
  //- br
  //- p
  
  //- h4  Here is a list of my favourite Books 
  
  //-   each book in books
  //-     ul
  //-       li
  //-         a(href=`/books/${book._id}`) #{book.name}

  //- a(href=`/new`) Add new Book into the list 
  app-home-booklist
            
                          
